/* Base (mobile-first) */


/* Small tablets / large phones */
@media (min-width: 480px) {}

/* Tablets */
@media (min-width: 768px) {}

/* Small laptops */
@media (min-width: 1024px) {}

/* Desktop */
@media (min-width: 1280px) {}

/* Large desktop */
@media (min-width: 1440px) {}

/* Ultra-wide */
@media (min-width: 1600px) {}



/* CSS Color variables */
:root {
    /* Color */
    --color-white: #FDFBFA;
    --color-blue: #C4EBF1;
    --color-pink: #F291B3;
    --color-action-pink: #D92363;
    --color-main-burgandy: #7D0F1C;
    --color-text: #1C1C1E;
    /* Container */
    --container-mobile: 90%;
    --container-max: 1100px;
    --container-narrow: 900px;
    --container-wide: 1440px;
    /* borders */
    --radius-md: 30px;
    --width-lg: 4px;
    /* Spaces */
    --space-30: 30px;
    --space-10: 10px;
}

/* Fonts & Layout */
html,
body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
    color: var(--color-text);
}

.container {
    width: min(var(--container-mobile), var(--container-max));
    margin-inline: auto;
    padding-inline: clamp(1rem, 4vw, 2rem);
}

.display-flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-flex {
    display: flex;
}

h1 {
    font: 700 3rem/1.15 'Poppins', sans-serif;
}

h2 {
    font: 600 2rem/1.25 'Poppins', sans-serif;
}

h3 {
    font: 450 1.5rem/1.35 'Poppins', sans-serif;
}

p {
    font: 400 1.125rem/1.7 'Poppins', sans-serif;
}

hr {
    color: #FDFBFA !important;
    border: none;
    height: var(--space-10);
}

/* .home {
    padding: 4rem 0rem;
} */

/* Main elements */
.btn {
    border-radius: var(--radius-md);
    padding: 15px 30px;
    text-decoration: none;
    color: var(--color-white);
    border-width: var(--width-lg);
    border-style: solid;
    text-transform: uppercase;
    font-weight: 500;
}

.two-button-section-element {
    margin-right: var(--space-30);
}

.primary-btn {
    background-color: var(--color-action-pink);
    border-color: var(--color-action-pink);
}

.secondary-btn {
    border-color: var(--color-pink);
}

.highlight {
    color: var(--color-action-pink);
}

/* hero section */
.hero-image {
    display: block;
    width: 70%;
    height: 500px;
    object-fit: cover;
    border-radius: 0px 0px 0px 50px;
    margin-left: 100px;
}

.home-hero {
    margin-bottom: 4rem;

}

.space-30 {
    margin-bottom: var(--space-30);
}

.home-projects h2 {
    margin-bottom: 2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 2rem;
    margin-bottom: 60px;
}

.project-card {
    padding: 1.5rem;
    border: 1px solid #eee;
    border-radius: var(--radius-md);
}